* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s;
}

:root {
  --cor1: #ffffff;
  --cor2: #f0f2f5;
  --cor3: #e6e9ef;
  --cor4: #dce0e6;
  --cor5: #c4c9d1;
  --cor6: #b1b6bf;
  --cor7: #333333;
  --cor8: #3a86ff;
  --cor9: #265ecf;
}

.dark-theme {
  --cor1: #1a1a1a;
  --cor2: #121212;
  --cor3: #1e1e1e;
  --cor4: #2a2a2a;
  --cor5: #3a3a3a;
  --cor6: #4d4d4d;
  --cor7: #f0f0f0;
  --cor8: #3a86ff;
  --cor9: #62a0ff;
  --cor10: #90bfff;
}

button {
  display: flex;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  color: white;
}

button:hover {
  transform: scale(1.05);
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
  background: var(--cor2);
  font-family: Arial, sans-serif;
  color: var(--cor7);
}

body > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--cor4);
  border-bottom: 2px solid var(--cor5);
  color: var(--cor7);
}

body > header button span {
  color: var(--cor7);
}

body > header div {
  display: flex;
  align-items: center;
  gap: 10px;
}

main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--cor2);
}

.container-tasks {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 0;

  background: var(--cor3);
  border-right: 2px solid var(--cor5);

  overflow-x: hidden;

  transition: all 0.3s;
}

.container-tasks header {
  display: flex;
  gap: 10px;

  padding: 10px;

  background-color: var(--cor4);
}

.container-tasks input {
  flex: 1;

  height: 40px;
  padding: 8px;

  background-color: var(--cor1);
  border: 1px solid var(--cor6);
  border-radius: 5px;
  outline: none;

  color: var(--cor7);
}

.container-tasks button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  background-color: var(--cor8);
  border: none;
  border-radius: 7px;

  color: white;

  cursor: pointer;

  transition: all 0.3s;
}

.container-tasks button:hover {
  background-color: var(--cor9);
}

.container-tasks ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  list-style: none;
  overflow-y: auto;
  background-color: var(--cor3);
}

.container-tasks ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: var(--cor1);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  color: var(--cor7);
}

.container-tasks ul li:hover {
  background: var(--cor5);
}

.container-tasks ul li div {
  display: flex;
  gap: 5px;
}

.container-tasks ul li div button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: var(--cor8);
  border: none;
  border-radius: 7px;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}

.show-tasks {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  background: var(--cor1);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px var(--cor5);
  overflow: hidden;
  color: var(--cor7);
}

.show-tasks p {
  text-align: center;
}

.show-tasks header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  padding: 10px;
  background-color: var(--cor3);
  border-radius: 5px;
  color: var(--cor7);
}

.show-tasks header button {
  color: white;
}

.show-tasks header h2 {
  font-size: 2rem;
  color: var(--cor7);
}

.show-tasks header div {
  display: flex;
  gap: 5px;
  width: 100%;
}

.show-tasks input {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--cor6);
  border-radius: 5px;
  background-color: var(--cor1);
  color: var(--cor7);
}

.show-tasks div button {
  width: auto;
  padding: 8px 12px;
  border: none;
  border-radius: 7px;
  background-color: var(--cor8);
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}

.show-tasks div button:hover {
  background-color: var(--cor9);
}

.show-tasks ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  list-style: none;
  overflow-y: auto;
  background-color: var(--cor3);
}

.show-tasks li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: var(--cor1);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  color: var(--cor7);
}

.show-tasks li:hover {
  background: var(--cor5);
}

.show-tasks li div {
  display: flex;
  gap: 5px;
}

.show-tasks li div button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #007bff;
  border: none;
  border-radius: 7px;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}

.show-tasks li div button:hover {
  background-color: #0056b3;
}
